.image-annotation {
  display: flex;
  flex-direction: column;
  height: 100%;
  .image-container {
    flex: 1;
    position: relative;
    display: inline-block;
    border: 1px solid #eee;
    canvas {
      cursor: crosshair;
      display: block;
    }
  }
}
.text-input {
  position: absolute;
  border: 1px dashed #c1c1c1;
  outline: none;
  background: transparent;
  font-size: 16px;
  padding: 4px;
  resize: none;
  overflow: hidden;
  z-index: 10;
  white-space: pre-wrap;
  word-wrap: break-word;
}
