body {
  font-family: Arial, sans-serif;
  padding: 20px;
}
.image-annotation {
  display: flex;
  flex-direction: column;
  .image-container {
    position: relative;
    display: inline-block;
    border: 1px solid #eee;
    canvas {
      cursor: crosshair;
      display: block;
    }
  }
  .annotation-info {
    border: 1px solid #eee;
    margin-left: 20px;
    padding-left: 10px;
    flex: 1;
    height: 600px;
    overflow: auto;
  }
}

.text-input {
  position: absolute;
  border: 1px dashed #c1c1c1;
  outline: none;
  background: transparent;
  font-size: 16px;
  padding: 4px;
  resize: none;
  overflow: hidden;
  z-index: 10;
  white-space: pre-wrap;
  word-wrap: break-word;
}
